/* .fp-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.sidebar {
  width: 30%;
  height: 100vh;
  background-color: #009ee3;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.sidebar .ui.menu > a.item {
  padding: 10px 20px !important;
  line-height: 20px;
  color: #ffffffab;
  border-radius: 0 !important;
  border-bottom: 1px #ffffff1c solid;
  margin-top: 0;
  margin-bottom: 0;
}

.sidebar .ui.menu > a.item.active {
  background-color: #0096d8;
  color: white;
 border: none !important; 
}

.sidebar .ui.menu > a.item:hover {
  background-color: #eee;
  color: #000000;
}

.fp-panel-main {
  width: 70%;
  background: white;
}

#sidebar {
  background: blueviolet;
}
#content {
  background: red;
}  */
